<mat-toolbar color="primary">

  <a mat-icon-button routerLink="home">
    <div>
      <mat-icon svgIcon="logo"></mat-icon>
    </div>
  </a>

  <span class="spacer"></span>
  <a mat-button class="header-button" routerLink="home/watermark">
    <span class="text">
      WATERMARK PDF
    </span>
  </a>
  <a mat-button class="header-button" routerLink="home/compress">
    <span class="text">
      COMPRESS PDF
    </span>
  </a>
  <a mat-button class="header-button" routerLink="home/split">
    <span class="text">
      SPLIT PDF
    </span>
  </a>
  <a mat-button class="header-button" routerLink="home/merge">
    <span class="text">
      MERGE PDF
    </span>
  </a>
</mat-toolbar>
