<div class="content-container">
  <div class="text-box">
    <h1 class="text"> PDF Split </h1>
    <h4 class="text"> Divide And Conquer: Seamlessly Split Your Documents For Ultimate Versatility! </h4>
  </div>

  <div class="split-button-box">
    <input #fileInput accept="application/pdf" type="file" (change)="onFileSelection($event)" style="display: none"/>
    <button mat-fab extended color="primary" (click)="triggerInput()">
      Choose file
    </button>

    <h4 *ngIf="fileName">{{fileName}}</h4>

    <mat-slider *ngIf="MaxPages" [max]="MaxPages" discrete>
      <input matSliderStartThumb [(ngModel)]="from">
      <input matSliderEndThumb [(ngModel)]="to">
    </mat-slider>

    <div class="example-label-container">
      <label id="example-name-label" class="example-name-label">Value</label>
      <label class="example-value-label">{{from}}</label>
      <label class="example-value-label">{{to}}</label>

    </div>

    <button mat-fab extended color="primary" (click)="SendSplitRequest()">
      Split
    </button>

    <button *ngIf="selectedFile" (click)="downloadFile()">
      download
    </button>

  </div>
</div>
