<div class="content-container">
  <div class="text-box">
    <h1 class="text"> PDF Watermark </h1>
    <h4 class="text"> Empower Your Documents: Imprint Your Identity With Effortless Watermarking.</h4>
  </div>

  <div class="watermark-button-box">
    <input #fileInput accept="application/pdf" type="file" (change)="onFileSelection($event)" style="display: none"/>
    <button mat-fab extended color="primary" (click)="triggerInput()">
      Choose file
    </button>

    <h4 *ngIf="fileName">{{fileName}}</h4>

    <mat-form-field class="example-form-field">
      <mat-label>Your watermark</mat-label>
      <input matInput type="text" [(ngModel)]="value">
    </mat-form-field>


    <button mat-fab extended color="primary">
      Upload file
    </button>
  </div>
</div>
