<div class="content-container">
  <div class="text-box">
    <h1 class="text"> PDF Compress </h1>
    <h4 class="text"> Size matters: Compress Your Files, Expend Your Efficiency! </h4>
  </div>

  <div class="compress-button-box">
    <input #fileInput accept="application/pdf" type="file" (change)="onFileSelection($event)" style="display: none"/>
    <button mat-fab extended color="primary" (click)="triggerInput()">
      Choose file
    </button>

    <h4 *ngIf="fileName">{{fileName}}</h4>

    <mat-slider *ngIf="selectedFile" max="2" showTickMarks showTickMarks discrete [displayWith]="formatLabel">
      <input matSliderThumb [(ngModel)]="compressLevel">
    </mat-slider>

    <button mat-fab extended color="primary" (click)="SendCompressRequest()">
      Compress
    </button>

    <button mat-fab extended color="primary" (click)="downloadFile()">
      Download
    </button>
  </div>
</div>
