<div class="text-box">
  <h1 class="text"> PDFKraf </h1>
  <h4 class="text"> Transform Your PDFs: Merge, Compress and Customize with PDFKraf </h4>
</div>

<div class="navigation-box">
  <a mat-flat-button class="navigation-button" routerLink="watermark" >
    <div class="button-icon">
      <mat-icon  svgIcon="watermark"></mat-icon>
    </div>
    <p class="button-text">Watermark PDF</p>
  </a>
  <a mat-flat-button class="navigation-button" routerLink="compress" >
    <div class="button-icon">
      <mat-icon  svgIcon="compression"></mat-icon>
    </div>
    <p class="button-text">Compress PDF</p>
  </a>
  <a mat-flat-button class="navigation-button" >
    <div class="button-icon">
      <mat-icon  svgIcon="merge"></mat-icon>
    </div>
    <p class="button-text">Merge PDF</p>
  </a>
  <a mat-flat-button class="navigation-button" >
    <div class="button-icon">
      <mat-icon  svgIcon="split-files"></mat-icon>
    </div>
    <p class="button-text">Split PDF</p>
  </a>
</div>
