<div class="content-container">
  <div class="text-box">
    <h1 class="text"> PDF Merge </h1>
    <h4 class="text">Harmony in Unity: Merge Your Files for a Seamless Document Symphony!</h4>
  </div>

  <div class="compress-button-box">
    <input #fileInput accept="application/pdf" type="file" (change)="onFileSelection($event)" style="display: none"/>
    <button mat-fab extended color="primary" (click)="triggerInput()">
      Choose file
    </button>
    <div *ngFor="let fileName of fileNames">
      <h4 *ngIf="fileName">{{fileName}}</h4>
    </div>

    <mat-hint align="end">{{fileSize | toMegabytes}} / 28 MB</mat-hint>

    <button *ngIf="selectedFiles.length > 1" [disabled]="decideDisability()" mat-fab extended color="primary" (click)="sendMergeRequest()">
      Merge
    </button>

    <button *ngIf="result" mat-fab extended color="primary" (click)="downloadFile()">
      Download
    </button>
  </div>
</div>
